@import "../../../common/assets/styles/_def";

body {

}

#defaultAreaLogin {
  @include flex(column, center, center);
  height: 100%;
  background-image: url("../images/flag.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


}

#login {
  @include flex(column, center, space-evenly, 2.6125rem);

  margin: 0 auto;
  min-width: 73.5625rem;
  min-height: 43.125rem;

  > .title {
    text-align: center;
    font-size: 10rem;
    font-weight: 600;
    font-family: "Pretendard", sans-serif;
    color: #ffffff90;
    -webkit-text-stroke-width: 0.15rem;
    -webkit-text-stroke-color: #757575;
    cursor: pointer;
  }

  > .login-guide {
    width: 20rem;
    @include flex(row, center, center, 3.125rem);

    > a {
      font-size: 1.2rem;
      font-weight: 600;
      color: #FFFFFF;

      &:hover {
        text-decoration: underline;
      }

    }
  }

  > .oauth-wrapper {
    @include flex(column, center, center, 0.325rem);
    width: 20rem;

    > .caption {
      font-weight: 500;
      color: #757575;
    }

    > .button-container {
      position: relative;
      display: inline-block;

      > .link > .icon {
        height: 3rem;
      }

      > .guide {
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);

        width: 25rem;
        padding: 0.75rem 1rem;
        background-color: #272727D8;
        color: #ffffff;
        font-size: 0.875rem;
        line-height: 1.4;
        border-radius: 0.5rem;
        box-shadow: 0 0.125rem 0.375rem #0000003F;
        text-align: center;
        white-space: normal;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        transition-duration: 300ms;
        transition-property: opacity;
        transition-timing-function: ease;

        user-select: text;
        cursor: text;
        z-index: 10;

        > .email {
          background: #03c75b;
          padding: 0.125rem 0.375rem;
          border-radius: 0.25rem;
          font-size: 1rem;
          font-weight: 600;
        }
      }

      &:hover > .guide,
      > .guide:hover {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }
}

#loginForm {
  @include flex(column, center, center, 1.625rem);
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  > .title {
    color: #FFFFFF;
  }

  > .login-button {
    font-size: 1.2rem;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    background-color: transparent;

    &:hover {
      text-decoration: underline;
    }
  }
}

.input-wrapper {
  color: #FFFFFF;

  [data-aeo-object="field"] {
    width: 20rem !important;
    color: #ffffff;
    font-size: 1rem;
    border-radius: 5rem;
    border: none;
    background-color: #FFFFFF50;
    padding: .625rem;
  }
}