<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dev.alleon.mappers.article.ArticleMapper">
    <insert id="insert"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index">
        INSERT INTO `aeo`.`articles` (`user_index`, `title`, `content`, `view`, `created_at`, `modified_at`, `is_deleted`, `welfare_id`)
        VALUES (#{article.userIndex},
                #{article.title},
                #{article.content},
                #{article.view},
                #{article.createdAt},
                #{article.modifiedAt},
                #{article.isDeleted},
                #{article.welfareId})
    </insert>

    <select id="selectCount" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM `aeo`.`articles` AS `a`
        LEFT JOIN `aeo`.`users` u ON `a`.`user_index` = `u`.article_index
        <where>
            <choose>
                <when test="searchType == 'title'">
                    `a`.`title` LIKE CONCAT('%', #{searchVo.keyword}, '%')
                </when>
                <when test="searchType == 'content'">
                    `a`.`content` LIKE CONCAT('%', #{searchVo.keyword}, '%')
                </when>
                <when test="searchType == 'author'">
                    `u`.`nickname` LIKE CONCAT('%', #{searchVo.keyword}, '%')
                </when>
            </choose>
        </where>
    </select>

    <select id="selectList" resultType="com.dev.alleon.entities.article.ArticleEntity">
        SELECT *
        FROM `aeo`.`articles` AS `a`
        LEFT JOIN `aeo`.`users` u ON `a`.`user_index` = `u`.article_index
        <where>
            <choose>
                <when test="searchType == 'title'">
                    `a`.`title` LIKE CONCAT('%', #{searchVo.keyword}, '%')
                </when>
                <when test="searchType == 'content'">
                    `a`.`content` LIKE CONCAT('%', #{searchVo.keyword}, '%')
                </when>
                <when test="searchType == 'author'">
                    `u`.`nickname` LIKE CONCAT('%', #{searchVo.keyword}, '%')
                </when>
            </choose>
        </where>
        LIMIT #{pageVo.rowCount} OFFSET #{pageVo.dbOffset}
    </select>

    <select id="selectByIndex" resultType="com.dev.alleon.entities.article.ArticleEntity">
        SELECT `index`       AS `index`,
               `user_index`  AS `userIndex`,
               `title`       AS `title`,
               `content`     AS `content`,
               `view`        AS `view`,
               `created_at`  AS `createdAt`,
               `modified_at` AS `modifiedAt`,
               `is_deleted`  AS `isDeleted`,
               `welfare_id`  AS `welfareId`
        FROM `aeo`.`articles`
        WHERE `index` = #{index}
    </select>
</mapper>