<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dev.alleon.mappers.article.CommentMapper">
    <insert id="insert"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index">
        INSERT INTO `aeo`.`comments` (`user_index`, `article_index`, `content`, `created_at`, `modified_at`,
                                      `is_deleted`)
        VALUES (#{comment.userIndex},
                #{comment.articleIndex},
                #{comment.content},
                #{comment.createdAt},
                #{comment.modifiedAt},
                #{comment.isDeleted)}
    </insert>
</mapper>