<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dev.alleon.mappers.article.RecommentMapper">
    <insert id="insert"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index">
        INSERT INTO `aeo`.`recomments` (`comment_index`, `user_index`, `content`, `created_at`, `modified_at`,
                                        `is_deleted`)
        VALUES (#{recomment.userIndex},
                #{recomment.commentIndex},
                #{recomment.content},
                #{recomment.createdAt},
                #{recomment.modifiedAt},
                #{recomment.isDeleted},)
    </insert>
</mapper>