<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dev.alleon.mappers.article.RecommentMapper">
    <insert id="insert"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index">
        INSERT INTO `aeo`.`recomments` (`comment_index`, `user_index`, `content`, `created_at`, `modified_at`,
                                        `is_deleted`)
        VALUES (#{recomment.commentIndex},
                #{recomment.userIndex},
                #{recomment.content},
                #{recomment.createdAt},
                #{recomment.modifiedAt},
                #{recomment.isDeleted})
    </insert>
    <select id="getWholeRecomments" resultType="com.dev.alleon.dtos.Comment.RecommentDto">
        select `t0`.`index`      as `index`,
               `t0`.`content`    as `content`,
               `t1`.`nickname`   as `nickname`,
               `t1`.`profile`    as `profile`,
               `t0`.`created_at` as `createdAt`
        from `aeo`.`recomments` as `t0`
                 left join `aeo`.`users` as `t1` on `t0`.`user_index` = `t1`.`index`
        where `comment_index` = #{commentIndex}
    </select>
</mapper>