<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/common/assets/styles/common.min.css" type="text/css">
</head>
<body>
<!--submit-->
<button data-mt-object="button">
    <img src="/common/assets/images/button-images/check.png" alt="">
    <span class="caption">Submit</span>
</button>
<!--cancel-->
<button data-mt-object="button">
    <img src="/common/assets/images/button-images/cancel.png" alt="">
    <span class="caption">Cancel</span>
</button>
<!--delete-->
<button data-mt-object="button">
    <img src="/common/assets/images/button-images/delete.png" alt="">
    <span class="caption">Delete</span>
</button>
<!--add-->
<button data-mt-object="button">
    <img src="/common/assets/images/button-images/plus.png" alt="">
    <span class="caption">Add</span>
</button>
<!--edit-->
<button data-mt-object="button">
    <img src="/common/assets/images/button-images/edit.png" alt="">
    <span class="caption">Edit</span>
</button>
</body>
</html>