<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta th:if="${_csrf != null}" name="_csrf" th:content="${_csrf.token}">
    <meta th:if="${_csrf != null}" name="_csrf_header" th:content="${_csrf.headerName}">
    <title>AEO | 수정</title>
    <link rel="stylesheet" href="/assets/libraries/ckeditor5/ckeditor5.css">
    <link rel="stylesheet" href="/assets/libraries/ckeditor5/ckeditor5-custom.css">
    <link rel="stylesheet" href="/common/assets/styles/common.min.css">
    <link rel="stylesheet" href="/notice/assets/styles/noticeWrite.min.css">
    <script src="/assets/libraries/ckeditor5/ckeditor5.js" type="module"></script>
    <script type="importmap">
        {
            "imports":{
                "ckeditor5":"/assets/libraries/ckeditor5/ckeditor5.js",
                "ckeditor5/":"/assets/libraries/ckeditor5/"
            }
        }
    </script>
    <script defer src="/notice/assets/scripts/modify-ckeditor.js" type="module"></script>
    <script defer src="/notice/assets/scripts/notice-modify.js"></script>
</head>
<body>
<form novalidate id="modifyForm">
    <div class="title-container">
        <span>제목</span>
        <button type="submit">수정</button>
        <label>
            <input name="index" type="hidden" th:value="${notice.getIndex}">
            <input required type="text" placeholder="제목을 입력해 주세요." minlength="1" maxlength="60" name="title" th:value="${notice.getTitle()}">
        </label>
    </div>
    <label>
        <textarea name="content" autocomplete="off" hidden class="text-container" th:utext="${notice.content}"></textarea>
    </label>
</form>
</body>
</html>