<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta th:if="${_csrf != null}" name="_csrf" th:content="${_csrf.token}">
    <meta th:if="${_csrf != null}" name="_csrf_header" th:content="${_csrf.headerName}">
    <title>AEO | 상세</title>
    <link rel="stylesheet" href="/common/assets/styles/common.min.css">
    <link rel="stylesheet" href="/notice/assets/styles/noticeSpecific.min.css">
    <link rel="icon" href="/common/assets/images/favicon.png">
    <script src="/common/assets/scripts/common.js"></script>
    <script defer src="/common/assets/scripts/object/dialog.js"></script>
    <script defer src="/notice/assets/scripts/notice.js"></script>
</head>
<script th:if="${data.isDeleted()}">
    alert('삭제된 게시글 입니다.');
    location.href = `${origin}/notice/`;
</script>
<body>
<th:block th:replace="~{fragments/header :: header}"></th:block>
<div id="defaultArea">
    <div class="container">
        <div class="title-container">
            <input type="hidden" name="articleIndex" th:value="${data.index}"/>
            <div class="title" th:text="${data.getTitle()}"></div>
            <div class="adjust-container"
                 th:if="${session.signedUser != null and session.signedUser.activeState < 1}">
                <button type="button" class="modify">수정하기</button>
                <button type="button" class="delete">삭제하기</button>
            </div>

            <div class="etc-container">
                <div class="date" th:text="'입력 ' + ${#temporals.format(data.createdAt, 'yyyy-MM-dd HH:mm')}"></div>
                <div class="view-container">
                    <img src="/notice/assets/images/view.png" alt="">
                    <div class="view" th:text="${data.getView()}"></div>
                </div>
            </div>
        </div>
        <div class="content-container">
            <div class="content" th:utext="${data.getContent()}"></div>
        </div>
    </div>
</div>
</body>
</html>