@charset "UTF-8";

@import "./_def";
@import "./header";
@import "./common/object";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-family: "SUIT-Regular", serif;
}

body {
  min-height: 100%;
  cursor: default;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  margin: 0 auto;
  margin-block: 0;
  margin-inline: 0;
  user-select: none;
  min-width: 100vw;
  background-color: #f4f5f9;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
}

button, input, select, textarea {
  border: none;
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
  outline: none;
  padding: 0;
  padding-block: 0;
  padding-inline: 0;
}

ol, ul {
  list-style-type: none;
  margin-block: 0;
  padding-block: 0;
  margin-inside: 0;
}

#defaultArea {
  min-height: calc(100vh - $header-height);
  align-self: center;
  max-width: 90rem;
  background-color: #FFFFFF;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin: 0 8rem;
}

