@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
[data-aeo-object=button] {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.0625rem;
  justify-content: space-evenly;
  width: 6rem;
  border-radius: 9rem;
  background-color: white;
  cursor: pointer;
  padding: 0.225rem;
  box-shadow: rgba(33, 118, 208, 0.6274509804) 0.0625rem 0.0625rem 0.125rem;
}
[data-aeo-object=button] > * {
  flex-grow: 0;
  flex-shrink: 0;
}
[data-aeo-object=button] > [data-aeo-stretch] {
  flex-grow: 1;
  flex-shrink: 1;
}
[data-aeo-object=button] > img {
  width: 1.125rem;
  height: 1.125rem;
}
[data-aeo-object=button] > .caption {
  color: #2176D0;
  font-weight: 800;
}
[data-aeo-object=button]:hover {
  border: solid 0.0625rem #2176D0;
  box-shadow: #2176D0 0.0625rem 0.0625rem;
}
[data-aeo-object=button]:active {
  background-color: #2176D0;
}
[data-aeo-object=button]:active > .caption {
  color: #fff;
}

[data-aeo-object=loading] {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1.25rem;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0.5rem);
  background-color: rgba(33, 35, 37, 0.6274509804);
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition-duration: 175ms;
  transition-property: opacity;
  transition-timing-function: ease;
  z-index: 7;
}
[data-aeo-object=loading] > * {
  flex-grow: 0;
  flex-shrink: 0;
}
[data-aeo-object=loading] > [data-aeo-stretch] {
  flex-grow: 1;
  flex-shrink: 1;
}
[data-aeo-object=loading][data-aeo-visible] {
  opacity: 1;
  pointer-events: auto;
}
[data-aeo-object=loading][data-aeo-visible] > [data-aeo-component="loading.icon"] {
  top: 0;
  opacity: 1;
}
[data-aeo-object=loading][data-aeo-visible] > [data-aeo-component="loading.caption"] {
  top: 0;
  opacity: 1;
  transition-delay: 100ms;
}
[data-aeo-object=loading] > [data-aeo-component="loading.icon"] {
  top: 0.25rem;
  width: 3.5rem;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-name: animation;
  animation-timing-function: linear;
  opacity: 0;
  position: relative;
  transition-duration: 175ms;
  transition-property: top, opacity;
  transition-timing-function: ease;
}
@keyframes animation {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
[data-aeo-object=loading] > [data-aeo-component="loading.caption"] {
  top: 0.25rem;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 400;
  opacity: 0;
  position: relative;
  transition-duration: 175ms;
  transition-property: top, opacity;
  transition-timing-function: ease;
}

#searchForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#searchForm > .search-container {
  width: 30rem;
  height: 3rem;
  padding: 0 1rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 999rem;
  border: 0.0625rem solid #E0E0E0;
  box-sizing: border-box;
  color: #FFFFFF;
}
#searchForm > .search-container > .search-label {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
#searchForm > .search-container > .search-label:first-child {
  border-right: 0.0625rem solid #E0E0E0;
  padding-right: 1rem;
  margin-right: 0.5rem;
}
#searchForm > .search-container > .search-label.flex-grow {
  margin-left: 1rem;
  flex-grow: 1;
}
#searchForm > .search-container > .search-button {
  background-color: #FFFFFF;
  height: 1.5rem;
}
#searchForm > .search-container > .search-button > .icon {
  height: 1.5rem;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100%;
  cursor: default;
  font-family: "Pretendard", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
  user-select: none;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
}

button, input, select, textarea {
  border: none;
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
  outline: none;
  padding: 0;
  padding-block: 0;
  padding-inline: 0;
}

ol, ul {
  list-style-type: none;
  margin-block: 0;
  padding-block: 0;
  margin-inside: 0;
}

#defaultArea {
  align-self: center;
  min-width: 90rem;
  padding: 2rem;
}

/*# sourceMappingURL=common.css.map */
