@charset "UTF-8";

@import "./_def";

$header-height: 4.5rem;
$header-font-size: 1.875rem;

#header {
  @include flex(row, center, flex-start);
  background-color: white;
  display: flex;
  gap: 0.5rem;
  height: $header-height;
  box-sizing: border-box;
  top: 0;
  margin: 0;
  padding: 0.5rem 1.5rem;
  position: sticky;
  z-index: 999;
  border-bottom: 0.0625rem solid #e0e0e0;

  font-size: $header-font-size;
  font-weight: 600;

  > .logo {
    width: 10rem;

    > .title {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  > .menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-start;

    .item {
      > .link {
      }
    }
  }

  > .account-link {
    margin-right: 3rem;
  }
}
