@import "./_def";

$header-height: 3rem;

#header {
  @include flex(row, center, flex-start);
  background-color: white;
  display: flex;
  gap: 0.5rem;
  height: $header-height;
  box-sizing: border-box;
  top: 0;
  margin: 0;
  padding: 0.875rem 1.5rem;
  position: sticky;
  z-index: 999;
  border-bottom: 0.0625rem solid #e0e0e0;

  > .logo {
    width: 10rem;

    > .title {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      font-size: 2rem;
    }
  }

  > .menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-start;

    .item {
      > .link {
        font-size: 1.5rem;
        font-weight: 400;
      }
    }
  }

  > .account-link {
    font-size: 1.5rem;
    font-weight: 400;

    margin-right: 3rem;
  }
}
