@charset "UTF-8";

/* Common으로 옮겨질 예정 */
input, select, button {
    padding: 0;
    margin: 0;
    border: none;
}

:root {
    --search-box-width: 30rem;
    --search-box-height: 3rem;
    --search-box-left-right-padding: 1rem;
    --background-color: #FFFFFF ;
    --border-color: #E0E0E0;
    --text-color:#FFFFFF;
}

#searchForm {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#searchForm > .search-container {
    width: var(--search-box-width);
    height: var(--search-box-height);
    padding: 0 var(--search-box-left-right-padding);

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    border-radius: 999rem;
    border: 0.0625rem solid var(--border-color);
    box-sizing: border-box;
    color: var(--text-color);
}

#searchForm > .search-container > .search-label {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
}

#searchForm > .search-container > .search-label:first-child {
    border-right: 0.0625rem solid var(--border-color);
    padding-right: 1rem;
    /*margin-right: 0.5rem;*/
}

#searchForm > .search-container > .search-label.flex-grow {
    margin-left: 1rem;
    flex-grow: 1;
}

#searchForm > .search-container > .search-button {
    background-color: var(--background-color);
    height: 1.5rem;
}

#searchForm > .search-container > .search-button > .icon {
    height: 1.5rem;
}