<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AEO | 게시판</title>
    <link rel="stylesheet" href="/common/assets/styles/common.min.css">
    <link rel="stylesheet" href="/article/assets/styles/article.min.css">
</head>
<body>
<div id="defaultArea">
    <div class="container">
        <div class="title-container">
            <div class="title" th:text="${article.title}"></div>
            <div class="etc-container">
                <div class="date" th:text="'입력 ' + ${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')}"></div>
                <div class="view-container">
                    <img src="/article/assets/images/view.png" alt="">
                    <div class="view" th:text="${article.view}"></div>
                </div>
            </div>
        </div>
        <div class="content-container">
            <div class="content" th:utext="${article.content}"></div>
        </div>
    </div>
</div>
</body>
</html>