<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta th:if="${_csrf != null}" name="_csrf" th:content="${_csrf.token}">
    <meta th:if="${_csrf != null}" name="_csrf_header" th:content="${_csrf.headerName}">
    <title>AEO | 게시판</title>
    <link rel="stylesheet" href="/common/assets/styles/common.min.css">
    <link rel="stylesheet" href="/article/assets/styles/article.min.css">
    <script defer src="/article/assets/scripts/article.js"></script>
</head>
<body>
<th:block th:replace="~{fragments/header :: header}"></th:block>
<div id="defaultArea">
    <div class="container">
        <div class="title-container">
            <div class="title" th:text="${article.title}"></div>
            <div class="etc-container">
                <div class="date" th:text="'입력 ' + ${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')}"></div>
                <div class="view-container">
                    <img src="/article/assets/images/view.png" alt="">
                    <div class="view" th:text="${article.view}"></div>
                </div>
            </div>
        </div>
        <div class="content-container">
            <div class="content" th:utext="${article.content}"></div>
        </div>
    </div>

    <form id="commentForm">
        <h2>댓글 등록</h2>
        <label>
            <span>댓글 내용 : </span>
            <input type="text" name="content">
        </label>

        <button type="submit">등록</button>
    </form>

    <div id="commentContainer">
        <div class="comment">
            <div class="head">
                <span class="writer">작성자 자리</span>
                <span class="timestamp">0000-00-00 00:00:00</span>
                <span class="-flex-stretch"></span>
                <button class="show-recomment">대댓글 보기</button>
                <a class="action">수정</a>
                <a class="action">삭제</a>
            </div>
            <label class="body">
                <span class="comment">댓글 자리</span>
            </label>

            <div class="recomment-container">
                <div class="recomment">
                    <div class="head">
                        <span class="writer">작성자 자리</span>
                        <span class="timestamp">0000-00-00 00:00:00</span>
                        <span class="-flex-stretch"></span>
                        <a class="action">수정</a>
                        <a class="action">삭제</a>
                    </div>
                    <label class="body">
                        <span class="comment">댓글 자리</span>
                    </label>
                </div>
            </div>

            <form class="reply-form">
                <label class="--object-label -flex-stretch">
                    <textarea required class="--object-field -flex-stretch" minlength="1" maxlength="1000" name="content" placeholder="댓글을 입력해 주세요." rows="4"></textarea>
                </label>
                <button class="--object-button -color-green" type="submit">댓글 등록하기</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>