<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AEO | 자유게시판</title>
    <link rel="icon" href="/common/assets/images/favicon.png">
    <link href="/common/assets/styles/common.min.css" rel="stylesheet" type="text/css">
    <link href="/article/assets/styles/list.min.css" rel="stylesheet">
    <script defer src="/article/assets/scripts/list.js"></script>
</head>
<body>
<th:block th:replace="~{/fragments/header :: header}">
</th:block>
<div id="defaultArea">
    <h1 class="title">BOARD</h1>

    <form id="searchForm">
        <div class="search-container">
            <label class="search-label">
                <select class="search-select" name="searchType">
                    <option th:selected="${searchVo.getSearchType() == 'title'}" value="title">제목</option>
                    <option th:selected="${searchVo.getSearchType() == 'content'}" value="content">내용</option>
                    <option th:selected="${searchVo.getSearchType() == 'author'}" value="author">작성자</option>
                </select>
            </label>
            <label class="search-label flex-grow">
                <input class="search-input" type="text" name="keyword" placeholder="검색어를 입력하세요"
                       th:value="${searchVo.getKeyword()}">
            </label>
            <button class="search-button" type="submit">
                <img src="/common/assets/images/search-icon.png" alt="검색" class="icon">
            </button>
        </div>
    </form>

    <div id="buttonContainer">
        <a data-aeo-object="button" type="submit" href="/article/write">글쓰기</a>
    </div>

    <div id="articleListNone" th:if="${articleList == null || articleList.size() == 0}">
        게시판의 내용이 없습니다.
    </div>

    <div id="articleListArea" th:if="${articleList != null && articleList.size() > 0}">
        <div class="table">
            <table class="table-basic">
                <colgroup>
                    <col style="width: 5%">
                    <col style="width: 15%">
                    <col style="width: 65%">
                    <col style="width: 10%">
                    <col style="width: 5%">
                </colgroup>
                <thead>
                <tr>
                    <th>번호</th>
                    <th>작성자</th>
                    <th>제목</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="article : ${articleList}">
                        <td th:text="${article.index}"></td>
                        <td th:text="${article.nickname}"></td>
                        <td><a th:text="${article.title}" th:href="@{'/article/' (index=${article.index})}"></a></td>
                        <td th:text="${#temporals.format(article.createdAt, 'yyyy-MM-dd')}"></td>
                        <td th:text="${article.view}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="pageContainer" th:if="${articleList.size() > 0 && articleList != null}">
        <a class="page"
           th:each="pageNum : ${#numbers.sequence(pageVo.startPage, pageVo.endPage)}"
           th:text="${pageNum}"
           th:href="@{/article/list (searchType = ${searchVo.getSearchType()}, keyword = ${searchVo.getKeyword()})}"
           th:classappend="${pageNum == pageVo.page}? '-selected'"></a>
    </div>

</div>
</body>
</html>