<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AEO | 게시판 목록</title>
    <link href="/common/assets/styles/common.min.css" rel="stylesheet" type="text/css">
    <link href="/article/assets/styles/list.min.css" rel="stylesheet">
</head>
<body>
<th:block th:replace="~{/fragments/header :: header}">
</th:block>
<div id="defaultArea">
    <form id="searchForm">
        <div class="search-container">
            <label class="search-label">
                <select class="search-select" name="searchType">
                    <option th:selected="${searchVo.getSearchType() == 'title'}" value="title">제목</option>
                    <option th:selected="${searchVo.getSearchType() == 'content'}" value="content">내용</option>
                    <option th:selected="${searchVo.getSearchType() == 'author'}" value="author">작성자</option>
                </select>
            </label>
            <label class="search-label flex-grow">
                <input class="search-input" type="text" name="keyword" placeholder="검색어를 입력하세요"
                       th:value="${searchVo.getKeyword()}">
            </label>
            <button class="search-button" type="submit">
                <img src="/common/assets/images/search-icon.png" alt="검색" class="icon">
            </button>
        </div>
    </form>

    <div id="articleListNone" th:if="${articleList == null || articleList.size() == 0}">
        게시판의 내용이 없습니다.
    </div>

    <div id="articleList" th:if="${articleList != null && articleList.size() > 0}">
        <div class="table">
            <table class="table-basic">
                <tr>
                    <th>기준연도</th>
                    <th>문의처</th>
                    <th>지원주기</th>
                    <th>제공유형</th>
                    <th>제공유형</th>
                    <th>제공유형</th>
                </tr>
                <tr>
                    <td>2025</td>
                    <td></td>
                    <td>분기</td>
                    <td>현금지급, 현물지급</td>
                    <td>현금지급, 현물지급</td>
                    <td>현금지급, 현물지급</td>
                </tr>
            </table>
        </div>
    </div>

    <div id="pageContainer" th:if="${articleList.size() > 0 && articleList != null}">
        <a class="page"
           th:each="pageNum : ${#numbers.sequence(pageVo.startPage, pageVo.endPage)}"
           th:text="${pageNum}"
           th:href="@{/article/list (searchType = ${searchVo.getSearchType()}, keyword = ${searchVo.getKeyword()})}"
           th:classappend="${pageNum == pageVo.page}? '-selected'"></a>
    </div>

</div>
</body>
</html>