<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상세페이지</title>
    <link href="/common/assets/styles/common.min.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="header">
    <div class="mini-title">
        &#183; 복지서비스(상세)
    </div>
    <br>
    <h2>복지서비스 상세(중앙)</h2>
    <span>내 상황에 맞는 다양한 복지혜택을 찾을 수 있습니다.</span>
</div>

<div id="main">
    <div>
        <div>
            <ul>
                <li>중앙부처 복지사업</li>
                <li>신체건강</li>
                <li>영유아</li>
                <li>아동</li>
                <li>청소년</li>
            </ul>
        </div>
        <div>
            <h2>선청성대사이상 검사 및 환아관리</h2>
            <br>
            <span>선천성대사이사의 유무를 조기에 발견&#183;치료함으로써 장래발생을 사전에 예방하여 영유아의 건가 증진을 도모합니다.</span>
        </div>
        <div>
            <div>&#183; 담당 부처 <span>보건 복지부 출산 정책과</span></div>
            <table>
                <tr>
                    <th>기준연도</th>
                    <th>문의처</th>
                    <th>지원주기</th>
                    <th>제공유형</th>
                </tr>
                <tr>
                    <td>2025</td>
                    <td>129</td>
                    <td>분기</td>
                    <td>현금지급, 현물지급</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div id="detail">
    <div>
        <div>
            <a href="">지원대상</a>
        </div>
        <div>
            <a href="">서비스 내용</a>
        </div>
        <div>
            <a href="">신청방법</a>
        </div>
        <div>
            <a href="">추가정보</a>
        </div>
    </div>
    <div>
        <div>
            <div class="detail-explain">
                <h3>지원대상</h3>
                <ul>
                    <li>선천성대사이상 지원대상은 다음과 같습니다.</li>
                    <ul>
                        <li>(선별검사) 신생아 선천성 대사이상 외래 선별검사를 받은 영아</li>
                        <li>(확진검사) 선천성 대사이상 선별검사 결과 유소견 판정 후, 선천성 대사이상 질환 관련 확진검사 결과 선천성대사이상 환아로 판정된 영아</li>
                    </ul>
                    <li>환아관리 지원대상은 다음과 같습니다.</li>
                    <ul>
                        <li>확진검사 결과 선천성대사이상 및 희귀 등 기타 질환으로 진단받아 특수식이 또는 의료비 지원이 필요한, 신청일 기준 만 19세 미만* 환아 <br>* 만 나이는 출생월 기준으로 산정하며, 만 19세가 도래한 달까지만 지원</li>
                    </ul>
                </ul>
            </div>
            <div class="detail-explain">
                <h3>선정기준</h3>
                <ul>
                    <li>선천성대사이상 검사비 지원내용 및 지원기준은 다음과 같습니다</li>
                    <ul>
                        <li>신생아 선천성대사이상 외래 선별검사비의 (일부)본인부담금 지원</li>
                        <li>(확진검사) 선천성 대사이상 선별검사 결과 유소견 판정 후, 선천성 대사이상 질환 관련 확진검사 결과 선천성대사이상 환아로 판정된 영아</li>
                    </ul>
                    <li>환아관리 지원대상은 다음과 같습니다.</li>
                    <ul>
                        <li>확진검사 결과 선천성대사이상 및 희귀 등 기타 질환으로 진단받아 특수식이 또는 의료비 지원이 필요한, 신청일 기준 만 19세 미만* 환아 <br>* 만 나이는 출생월 기준으로 산정하며, 만 19세가 도래한 달까지만 지원</li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>