<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header id="header" th:fragment="header">
    <div class="logo">
        <a href="#" class="title">A-E-O</a>
    </div>
    <span role="none" data-aeo-stretch></span>
    <ul class="menu">
        <li class="item">
            <a href="#" class="link">Search</a>
        </li>
        <li class="item">
            <a href="#" class="link">MyPage</a>
        </li>
    </ul>
    <span role="none" data-aeo-stretch></span>
    <a href="/user/login" class="account-link" th:if="${session.signedUser==null}">Login</a>
    <a href="/user/logout" class="account-link" th:if="${session.signedUser!=null}">Logout</a>
<!--    <a href="/user/logout" class="account-link">Logout</a>-->
</header>
</html>