@charset "UTF-8";

@use "sass:color";
@import "../../_def";


[data-aeo-object="button"] {
  @include flex(row, center, space-evenly, 0.0625rem);
  width: 6rem;
  border-radius: 9rem;
  background-color: white;
  cursor: pointer;
  padding: 0.225rem;
  box-shadow: #2176D0a0 0.0625rem 0.0625rem 0.125rem;

  > img {
    width: 1.125rem;
    height: 1.125rem;
  }

  > .caption {
    color: #2176D0;
    font-weight: 800;
  }

  &:hover {
    border: solid 0.0625rem #2176D0;
    box-shadow: #2176D0 0.0625rem 0.0625rem;
  }

  &:active {
    background-color: #2176D0;

    > .caption {
      color: #fff;
    }
  }

}