<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dev.alleon.mappers.welfare.BasisStatuteMapper">
    <insert id="insert"
            useGeneratedKeys="true"
            keyColumn="id"
            keyProperty="id">
        INSERT INTO `aeo`.`basis_statutes` (`welfare_id`, `name`)
        VALUES (#{basisStatute.welfareId},
                #{basisStatute.name})
    </insert>

    <select id="selectByWelfareId" resultType="com.dev.alleon.entities.welfare.BasisStatuteEntity">
        SELECT `id`         AS `id`,
               `welfare_id` AS `welfareId`,
               `name`       AS `name`
        FROM `aeo`.`basis_statutes`
        WHERE `welfare_id` = #{welfareId}
    </select>
</mapper>