<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dev.alleon.mappers.welfare.FormMaterialMapper">
    <insert id="insert"
            useGeneratedKeys="true"
            keyColumn="id"
            keyProperty="id">
        INSERT INTO `aeo`.`form_materials` (`welfare_id`, `name`, `link`)
        VALUES (#{formMaterial.welfareId},
                #{formMaterial.name},
                #{formMaterial.link})
    </insert>

    <select id="selectByWelfareId" resultType="com.dev.alleon.entities.welfare.FormMaterialEntity">
        SELECT `id`         AS `id`,
               `welfare_id` AS `welfareId`,
               `name`       AS `name`,
               `link`    AS `link`
        FROM `aeo`.`form_materials`
        WHERE `welfare_id` = #{welfareId}
    </select>
</mapper>