<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <script defer src="/common/assets/scripts/common.js" type="module"></script>
    <title>Document</title>
    <link href="/common/assets/styles/common.min.css" rel="stylesheet" type="text/css">
    <link href="/welfare/assets/styles/list.min.css" rel="stylesheet" type="text/css">
    <script defer src="/common/assets/scripts/tts.js"></script>
</head>
<body>
<th:block th:replace="~{/fragments/header :: header}">
</th:block>
<div id="defaultArea">
    <form id="searchForm">
        <input name="searchType" type="hidden" th:value="${searchVo.getSearchType()}">
        <div class="search-container">
            <label class="search-label">
                <select class="search-select" name="searchKeyCode">
                    <option th:selected="${searchVo.getSearchKeyCode() == '001'}" value="001">제목</option>  <!--001 제목-->
                    <option th:selected="${searchVo.getSearchKeyCode() == '002'}" value="002">내용</option>  <!--002 내용-->
                    <option th:selected="${searchVo.getSearchKeyCode() == '003'}" value="003">제목+내용</option>
                    <!--003 제목+내용-->
                </select>
            </label>
            <label class="search-label flex-grow">
                <input class="search-input" type="text" name="keyword" placeholder="검색어를 입력하세요"
                       th:value="${searchVo.getKeyword()}">
            </label>
            <button class="search-button" type="submit">
                <img src="/common/assets/images/search-icon.png" alt="검색" class="icon">
            </button>
        </div>
        <div class="code-container">
            <label data-aeo-object="categoryLabel" class="all">
                <input type="radio" name="code" value="" checked>
                <span data-aeo-component="categoryLabel.caption">전체</span>
            </label>
            <label data-aeo-object="categoryLabel" th:each="code : ${codes}">
                <input type="radio" name="code"
                       th:value="${code.code}"
                       th:checked="${code.code == searchVo.code}">
                <span data-aeo-component="categoryLabel.caption" th:text="${code.displayText}"></span>
            </label>
        </div>
    </form>
    <div id="welfareList">
        <a class="welfare" th:href="@{'/welfare/detail' (id=${welfare.servId})}" th:each="welfare : ${welfareList}">
            <div class="welfare-info">
                <div class="header">
                    <span class="name" th:text="${welfare.servNm}"></span>
                </div>
                <span class="sub" th:text="${welfare.jurMnofNm} + ' / ' + ${welfare.jurOrgNm}"></span>
                <span class="description" th:text="${welfare.servDgst}"></span>

                <div class="footer">
                    <span class="info" th:text="${welfare.srvPvsnNm}"></span>
                    <span class="slash">/</span>
                    <span class="info" th:text="'지원 주기 : ' + ${welfare.sprtCycNm}"></span>
                    <span class="slash">/</span>
                    <span class="info" th:text="${welfare.onapPsbltYn == 'Y'} ? '온라인 신청 가능' : '온라인 신청 불가'"></span>
                    <span class="stretch" role="none"></span>
                </div>
            </div>
            <div class="welfare-button">
                <button class="tts" type="button" aria-pressed="false">
                    <img class="tts-icon speak"  src="/welfare/assets/images/welfare-speaker.png" alt="">
                    <img class="tts-icon cancel" src="/welfare/assets/images/tts-cancel.png"   alt="">
                    <span class="caption speak">음성안내</span>
                    <span class="caption cancel">중지</span>
                </button>

                <span class="regi-date" th:text="${welfare.svcfrstRegTs}"></span>
            </div>



            <div class="tooltip-container">
      <span class="tooltip" th:if="${!welfare.lifeArray.isEmpty()}">
        <span class="caption">생애 주기</span>
        <span class="tag" th:each="life : ${welfare.lifeArray}" th:text="${life}"></span>
      </span>
                <span class="tooltip" th:if="${!welfare.trgterIndvdlArray.isEmpty()}">
        <span class="caption">가구 유형</span>
        <span class="tag" th:each="trgterIndvdl : ${welfare.trgterIndvdlArray}" th:text="${trgterIndvdl}"></span>
      </span>
                <span class="tooltip" th:if="${!welfare.intrsThemaArray.isEmpty()}">
        <span class="caption">관심 주제</span>
        <span class="tag" th:each="intrsThema : ${welfare.intrsThemaArray}" th:text="${intrsThema}"></span>
      </span>
            </div>
        </a>

        <div class="empty" th:if="${welfareList == null || welfareList.isEmpty()}">조건에 맞는 복지 서비스가 없습니다.</div>
    </div>


    <div id="pageContainer" th:if="${welfareList != null && !welfareList.isEmpty()}">
        <a class="page"
           th:each="pageNum : ${#numbers.sequence(pageVo.startPage, pageVo.endPage)}"
           th:text="${pageNum}"
           th:href="@{/welfare/list (searchType = ${searchVo.getSearchType()}, searchKeyCode = ${searchVo.getSearchKeyCode()}, keyword = ${searchVo.getKeyword()}, code = ${searchVo.code}, page = ${pageNum})}"
           th:classappend="${pageNum == pageVo.page}? '-selected'"></a>
    </div>
</div>
</body>
</html>