<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="/common/assets/scripts/common.js" type="module"></script>
    <title>Document</title>
    <link href="/common/assets/styles/common.min.css" rel="stylesheet" type="text/css">
    <link href="/welfare/assets/styles/list.min.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="defaultArea">
    <form id="searchForm">
        <input name="searchType" type="hidden" th:value="${searchVo.getSearchType()}">
        <div class="search-container">
            <label class="search-label">
                <select class="search-select" name="searchKeyCode">
                    <option th:selected="${searchVo.getSearchKeyCode() == '001'}" value="001">제목</option>  <!--001 제목-->
                    <option th:selected="${searchVo.getSearchKeyCode() == '002'}" value="002">내용</option>  <!--002 내용-->
                    <option th:selected="${searchVo.getSearchKeyCode() == '003'}" value="003">제목+내용</option>
                    <!--003 제목+내용-->
                </select>
            </label>
            <label class="search-label flex-grow">
                <input class="search-input" type="text" name="keyword" placeholder="검색어를 입력하세요"
                       th:value="${searchVo.getKeyword()}">
            </label>
            <button class="search-button" type="submit">
                <img src="/common/assets/images/search-icon.png" alt="검색" class="icon">
            </button>
        </div>
        <div class="code-container">
            <label>
                <input type="radio" name="code" value="" checked>
                <span class="caption">전체</span>
            </label>
            <label th:each="code : ${codes}">
                <input type="radio" name="code"
                       th:value="${code.code}"
                       th:checked="${code.code == searchVo.code}">
                <span class="caption" th:text="${code.displayText}"></span>
            </label>
        </div>
    </form>


<!--    <table>-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <td>서비스 명</td>-->
<!--            <td>서비스 요약</td>-->
<!--            <td>제공 유형</td>-->
<!--            <td>등록일</td>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="welfare : ${welfareList}">-->
<!--            <td th:text="${welfare.servNm}"></td>-->
<!--            <td th:text="${welfare.servDgst}"></td>-->
<!--            <td th:text="${welfare.srvPvsnNm}"></td>-->
<!--            <td th:text="${#temporals.format(welfare.svcfrstRegTs, 'yyyy-MM-dd')}"></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->

    <div id="welfareList">
        <a class="welfare" href="#" th:each="welfare : ${welfareList}">
            <div class="header">
                <span class="name" th:text="${welfare.servNm}"></span>
                <button>요약 읽어주기</button>
            </div>
            <span class="sub" th:text="${welfare.jurMnofNm} + ' / ' + ${welfare.jurOrgNm}"></span>
            <span th:text="${welfare.servDgst}"></span>
            <span class="sub" th:text="${welfare.srvPvsnNm}"></span>
        </a>
        <div th:if="${#lists.isEmpty(items) and not #strings.isEmpty(kw)}">조건에 맞는 복지 서비스가 없습니다.</div>
    </div>

    <div id="pageContainer">
        <a class="page"
           th:each="pageNum : ${#numbers.sequence(pageVo.startPage, pageVo.endPage)}"
           th:text="${pageNum}"
           th:href="@{/welfare/list (page = ${pageNum})}"
           th:classappend="${pageNum == pageVo.page}? '-selected'"></a>
    </div>
</div>
</body>
</html>