<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AEO</title>
    <link rel="stylesheet" href="/common/assets/styles/intro.min.css">
    <link rel="stylesheet" href="/common/assets/styles/common.min.css">
    <link rel="icon" href="/common/assets/images/favicon.png">
    <script defer src="/common/assets/scripts/intro.js"></script>
</head>
<body>
<main class="pages">
    <section class="common first-page visible" data-aeo-index="1">
        <span class="caption">ALL.E.ON</span>
    </section>
    <section class="common second-page" data-aeo-index="2">
        <div class="content-box">
            <span class="caption">ALL</span>
            <span class="line"></span>
            <span class="content">누구나</span>
        </div>
    </section>
    <section class="common third-page" data-aeo-index="3">
        <div class="content-box">
            <span class="caption">Easy</span>
            <span class="line"></span>
            <span class="content">간편하게</span>
        </div>
    </section>
    <section class="common last-page" data-aeo-index="4">
        <div class="content-box">
            <span class="caption">ON</span>
            <span class="line"></span>
            <span class="content">알수있다.</span>
        </div>
    </section>
</main>
</body>
</html>